*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    &__img{
        flex:1;
        background-image: url(./KL_logo.png);
        background-repeat: no-repeat;
        background-position: center center;
        border: 2px solid rebeccapurple;
    }
    &__text{
        flex:1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        [class^="container__text__"]:not(container__text__1)
        {
            font-size: xx-large;
        }
        &__1{
            font-size: 5vw;
        }
       
    }
}
@media (max-width: 576px){
    .container{
        flex-direction: column;
        &__text{
            [class^="container__text__"]:not(.container__text__1)
            {
                display: none;
            }
            &__1{
                font-size: 3vw;
            }
        }
    }
    
}
